html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}




body {
    background-color: darkmagenta;
    font-family: Montserrat;
     header {
        height: 15vh;
        nav {
            height: 15vh;
            display: grid;
            grid-template-columns: 0.4fr 1fr 0.4fr;
            background-color: darkblue;          
               img {
                width: 40%;
                margin-top: -1vh;
               } 
            }
        }
}
body {
    header {
        nav {
            ul {
                display: flex;
                align-items: center;
                justify-content: space-between;
                grid-column: 2/3;
                li {
                    list-style: none;
                    a {
                        text-decoration: none;
                        color: white;
                        font-size: 1rem;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}   

body {
    main {
        .section1 {
            height: 100vh;
            color: white;
            background-size: cover;
            background-position: bottom;
            background-image: url("https://media.discordapp.net/attachments/1039179242346401912/1076103299574538272/home-computer.jpeg?width=649&height=422");
        }
    }
}
h1 {
    padding-top: 3vh;
    font-size: 6rem;
    text-align: center;
    font-weight: bold;
}
h2 {
    font-size: 4rem;
    text-align: center;
    font-weight: bold;
}

.section2 {
    height: 80vh;
    background-color: darkblue;
    h3 {
        color: white;
        font-size: 3rem;
        text-align: center;
        padding-top: 15vh;
        align-items: center;
        font-weight: bold;
    }
}

.section2 {
    p {
        padding-top: 10vh;
        color: white;
        text-align: center;
        font-size: 1.5rem;
    }
}

.section3 {
    height: 120vh;
    background-color: white;
    display: grid;
    grid-template-columns: 0.4fr 1fr 0.4fr;
    grid-template-rows: 0.2fr 1fr;
    
    h3 {
        font-size: 2rem;
        text-align: center;
        padding-top: 2rem;
        font-weight: bold;
        grid-row: 1/2;
        grid-column: 2/3;
        margin-left: 2rem;
        
    }
    article {
        background-image: url("https://picsum.photos/536/354");
        background-size: cover;
        width: 22vw;
        height: 40vh;
        color: white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        h4 {
            font-weight: bold;
            padding-top: 12rem;
            padding-left: 0.5rem;
        }
        p {
            color: darkorchid;
            padding-left: 0.5rem;
        }
    }
}
.section3 {

    ul { 
    display: grid;
    grid-column: 2/3;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 1rem;
    height: 40vh;
    grid-row: 2/2;
    row-gap: 2rem;
    column-gap: 2rem;
    margin-left: 4rem;
    article {

        img {
        height: 20vh;
        width: 20vw;
        }
        }
    }
}

.section4 {
    height: 40vh;

    h3 {
        font-weight: bold;
        text-align: center;
        color: white;
        font-size: 2rem;
        padding-top: 2rem;
    }
    form {
        text-align: center;
        padding-top: 2rem;
        fieldset {
            text-align: center;
        }
    }
}

